.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main {
  background: rgb(235, 137, 72);
  width: 500px;
  height: 800px;
}

#mainImg {
  margin-top: 150px;
  width: 480px;
}

#genButton {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  fonst-size: 60px;
  color: black;
  background-color: cyan;
  text-align: center;
  transition: all 0.2s;
  border: none;
}

#genButton:hover {
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
